/* Write your CSS here */
.home-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.home-image {
  height: 200px;
}
.dark-home-element-container {
  color: #ffffff;
  background-color: #000000;
}